---
---

@use "main";

#sidebar {
  background: linear-gradient(
      rgba(27, 27, 27, 0.75), 
      rgba(27, 27, 27, 0.75)
    ), 
    url('/assets/img/sidebar-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}